<!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="{{site.blog_link}}">Blog</a></li>
            <!--<li><a href="portfolio">Portfolio</a></li>-->
            <li><a href="/about">About me</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="{{site.photography_link}}" target="_blank" class="">Photography</a></li>
            <li><a href="{{site.github_link}}" target="_blank" class="">Github</a></li>
        </ul>

    </nav>
