
.post {
    img{
        max-width: 100%;
    }
    p{
        margin-bottom: 1em;
    }
    li > p{
        margin-bottom: 0;
    }
}

pre[class*="language-"]{
    //background: transparent
    background: rgba(0,0,0,0.15)
}

