---
layout: default
---
<div id="about">
    <div class="inner">

        <div class="top">
            <div class="text">
                <header class="major">
                    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
                </header>
                <p>I am a <span id="age"></span> year old student, currently working in my last year of University. I
                    have worked 6 years in software consulting and as a freelance software engineer in Germany and
                    Australia. My main technologies were mainly revolving around web technologies but I have also worked
                    in the IoT space as well as in the backend and cloud infrastructure environment. For the next year
                    my main focus will be machine learning and learning everything about AI and deep learning. <br>
                    Personally I enjoy experimenting with new technologies and whenever the environment permits it, I
                    like free diving and kitesurfing. I currently live in Naples, IT as I found the city to be a nice
                    retreat opportunity to solely focus on my academic pursuit for the next few months and therefore
                    avoid excessive multitasking between job and education. <br>
                    In the past years I also engaged in volunteering activities with the Erasmus Student Network where I
                    was active both on a local and national level.
                </p>
                <script>
                    var ageElem = document.getElementById("age");
                    var now = new Date();
                    var age = now.getFullYear() - 1992;
                    ageElem.innerHTML = now.getMonth() < 3 ? --age : age;

                </script>
            </div>
            <div class="cv-portrait">
                <img src="/images/portrait_pascal.jpg" alt="">
            </div>
        </div>

        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td colspan="2">
                    <h2>
                        <a><span></span></a><span>Job experience: 2008 - today</span>
                    </h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>since 09/2011</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution"><a href="http://www.opitz-consulting.com/index.html" target="_blank">Opitz
                        Consulting Deutschland GmbH</a></p>
                    <p class="cv-role">part time software engineer (2016-2017)</p>
                    <p class="cv-role">student software engineer (2011-2015)</p>
                    <p class="cv-activities">
                        <span></span><span>mobile software development</span><span>, development &amp; research about the Internet of Things (IoT), Java EE, modern web clients, created and held workshops and speeches about the IoT</span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><span>03/2016 - 07/2016</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">
                        <a href="https://www.propelleraero.com/" target="_blank">Propeller Aero Pty Ltd</a>
                    </p>
                    <p class="cv-role">
                        Frontend Software Engineer
                    </p>
                    <p><span>for drone data platform. AngularJS, Ionic, NodeJS, Amazon AWS</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>05/2010 – 04/2011</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">h.f.x. mitterer eK </p>
                    <p class="cv-role">student help</p>
                    <p class="cv-activities"><span>used cars management         (Toyota dealership)</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>9/2008 - 6/2009</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution"><span>Midwest Paint &amp; Body -  MN, USA</span></p>
                    <p class="cv-role">student help</p>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <h2>
                        <a><span></span></a><span>Education — 2008 - today</span></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>since 09/2015</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">University of Cologne</p>
                    <p class="cv-activities"><a
                            href="https://www.wiso.uni-koeln.de/en/studies/master/master-information-systems/"
                            target="_blank">Information Systems, M.Sc.</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>03/2016 - 07/2016</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">University of Technology Sydney</p>
                    <p><span><a
                            href="https://www.uts.edu.au/future-students/find-a-course/master-information-technology">Postgraduate IT</a></span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>09/2013 - 08/2015</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">University of Cologne</p>
                    <p><span>Information Systems, B.Sc.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>09/2011 - 09/2013</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">FHDW Bergisch Gladbach &amp; Opitz Consulting GmbH</p>
                    <p><span>Business Information Systems , B.Sc. , Minor:  IT-Consulting</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>09/2009 - 07/2011</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">Otto-Hahn-Gymnasium, Bensberg</p>
                    <p>
                        <span> German </span><span>matriculation examination</span><span> (“</span><span><span>Abitur”</span></span><span>)</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>09/2008 - 06/2009</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">Sauk Centre, MN, USA</p>
                    <p><span>High School exchange year in </span>
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <h2>
                        <a><span></span></a><span>Internships and community services</span>
                    </h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>04/2017 - 08/2017</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">
                        Erasmus Student Network Germany
                    </p>
                    <p class="cv-role"><span>National Board member and Partnership Manager</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>03/2015 - 08/2017</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">Erasmus Student Network Köln</p>
                    <p><span>Supporting international students in Cologne, organising trips, get togethers and  supporting them with university and other issues. (volunteer &amp; non-profit)</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>Summer 2011 (10 weeks)</span>
                    </p>
                </td>
                <td>
                    <p class="cv-institution">
                        Opitz Consulting GmbH
                    </p>
                    <p><span>Internal IT department support. Focus on Powershell scripting</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>
                        <a><span></span></a><span>Skills, speeches and publications</span>
                    </h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>Languages</span></p>
                </td>
                <td>
                    <p><span>Englisch  -  advanced written &amp; spoken (Level C1+),         language exchange in 2008/2009, 2015, 2016</span>
                    </p>
                    <p><span>German - native speaker</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>Certificates</span>
                    </p>
                </td>
                <td>
                    <p><span>Oracle ADF Implementation Specialist - March 2012</span></p>
                    <p><span>C1+ Council of Europe English Certificate - Jan 2015</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>Scholarships</span>
                    </p>
                </td>
                <td>
                    <p><span>Deutschlandstipendium (Germany): Sept. 2014 - 08/2017</span></p>
                    <p><span>PROMOS Exchange Scholarship: March 2016 - July 2016</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>Speeches</span></p>
                </td>
                <td>
                    <p><span>RuhrJUG Community Meeting - Dec. 2015 - IoT CloudComparison</span></p>
                    <p><span>OOP Conference (Munich) - Jan. 2015 - Influences of the IoT on software development</span>
                    </p>
                    <p><span>DOAG Conference (Nuremberg) - Nov. 2014 - Internet of Things Prototype</span>
                    </p>
                    <p><span>OOP Conference (Munich) - Jan. 2013 - ADF Mobile         review</span>
                    </p>
                    <p><span>DOAG community meet-up (Munich) - Sept. 2012 - ADF Mobile review        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p><span>Publications</span>
                    </p>
                </td>
                <td>
                    <p><a href="https://peerj.com/manuscripts/18154/" target="_blank">Project level effects of gender on
                        contribution evaluation on GitHub (2017)</a></p>

                    <p><span><a target="_blank" href="/assets/attachments/java-aktuell.pdf">Java Aktuell (Germany) - April 2015 - First one home, play some funky tunes (2015)</a></span>
                    </p>

                </td>
            </tr>
            <tr>
                <td>
                    <p><span>IT skills</span></p>
                </td>
                <td>
                    <p><span>General software development, IS analysis and architecture, strong awareness for security requirements</span>
                    </p>
                    <p><span>Java, C#, .NET, Objective-C, Kotlin, <strong>JavaScript, Typescript, HTML5, CSS3</strong>, NoSQL, R, Python, XML, Unix, Mac OS</span>
                    </p>
                    <p><span><strong>Angular, Ionic, NodeJS, MongoDB, Docker</strong>, Ansible, Amazon AWS &amp; Azure, <strong>IntelliJ, Atom</strong>, vim, LaTeX, MS Office, <strong>Git(Hub)</strong>, Spring Framework, JavaEE, Oracle ADF, Oracle Event Processing, BPM</span>
                    </p>
                    <p><span>Scrum, Agile SD</span></p>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>