---
layout: default
---
<div id="contact">
    <div class="inner">
        <header class="major">
            <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        </header>


        <ul class="actions flex-btns">
            <li><a href="" class="button special big ">
                <i class="fa fa-telegram"></i>
                <span>Telegram</span></a>
            </li>
            <li>
                <a href="" class="button big ">
                    <i class="fa fa-angellist"></i>
                    <span>AngelList</span>
                </a>
            </li>
            <li>
                <a href="" class="button big  special">
                    <i class="fa fa-linkedin-square"></i>
                    <span>LinkedIn</span>
                </a>
            </li>
            <li><a href="https://twitter.com/PascalBrokmeier" class="button big  "><i
                    class="fa fa-twitter"></i><span>Twitter</span></a>
            </li>
            <li><a href="" class="button big  special ">
                <i class="fa-envelope fa"></i>
                <span>Mail</span></a>
            </li>
        </ul>

        <hr>

        <div class="row">

            <section class="6u 12u$(small)">
                <form method="post" action="https://formspree.io/mail@pascalbrokmeier.de">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name"/>
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="email" name="_replyto" id="email"/>
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="special"/></li>
                        <li><input type="reset" value="Clear"/></li>
                    </ul>
                    <input type="hidden" name="_next" value="http://pascalbrokmeier.de" />
                    <input type="text" name="_gotcha" style="display:none" />
                </form>
            </section>

            <section class="6u 12u$(small) ">
                <div>
                    <!--<span class="icon alt fa-github"></span>-->
                    <h3>Find me on Github</h3>
                </div>
                <div class="github-card" data-github="pascalwhoop" data-width="300" data-height=""
                     data-theme="medium"></div>
                <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
            </section>

        </div>
    </div>
</div>
