---
layout: default
---
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section id="banner">
    <div class="inner">
            <span class="image">
                <img src="/images/banner.jpg" >
            </span>
        <header class="major">
            <h1>Rivi</h1>
        </header>
        <div class="content">
            <p>{{site.description}}</p>
        </div>
    </div>
</section>

<div id="main">

    <!--<section id="one">-->
        <!--<div class="inner">-->
            <!--<header class="major">-->
                <!--<h2>Sed amet aliquam</h2>-->
            <!--</header>-->
            <!--{{ content }}-->
        <!--</div>-->
    <!--</section>-->

    <section id="two" class="portfolio">
        <!--Portfolio 1-->
        <section>
            <!--image for post-->
                <div class="image">
                    <div class="post-thumb" style=" background-image: url('/images/portfolio/portfolio1.png')" ></div>
                </div>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Heading</h3>
                    </header>
                    <p class="post-meta">Date</p>
                    <p>Description</p>

                </div>
            </div>
        </section>

        <!--Portfolio 1-->
        <section>
            <!--image for post-->
            <div class="image">
                <div class="post-thumb" style=" background-image: url('/images/portfolio/portfolio2.png')" ></div>
            </div>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Heading</h3>
                    </header>
                    <p class="post-meta">Date</p>
                    <p>Description</p>

                </div>
            </div>
        </section>


        <!--Portfolio 1-->
        <section>
            <!--image for post-->
            <div class="image">
                <div class="post-thumb" style=" background-image: url('/images/portfolio/portfolio3O.png')" ></div>
            </div>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>Heading</h3>
                    </header>
                    <p class="post-meta">Date</p>
                    <p>Description</p>

                </div>
            </div>
        </section>

    </section>
</div>

