---
layout: default
---
<div class="banner">
    {% if page.cover %}
        {% assign post_date_data = page.date | date: "%Y-%m-%d" %}
        {% assign cover_url = "/images/posts/" | append: post_date_data | append: '/cover.jpg'%}
        {% cloudinary default {{cover_url}} alt="cover for post" %}
        {% if page.cover-credit %}
            {% include photo-credit-unsplash.html %}
        {% endif %}
    {% endif %}
</div>

<section id="post" class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="inner">
        <header class="major">
            <h1 itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="post-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {{ page.date | date: date_format }}
                </time>
                {% if page.author %}
                • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
                {% endif %}
            </p>
        </header>

        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>
    </div>

</section>
