---
layout: default
---

<div id="posts">

	<section id="one">
		<div class="inner">
			<header class="major">
				<h2>{{page.title}}</h2>
			</header>
			{{content}}
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="spotlights">
		    {% for post in site.posts %}
			<section>
				<a href="{{ post.url | relative_url }}" class="image">
					{% assign post_date_data = post.date | date: "%Y-%m-%d" %}
					{% assign cover_url = "/images/posts/" | append: post_date_data | append: '/cover.jpg'%}
					{% if post.cover %}
					{% cloudinary default {{cover_url}} alt="cover for post" %}
					{% endif %}
				</a>
				<div class="content">
					<div class="inner">
							<h3>
					          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
						 	</h3>
						{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
						<p><span class="post-meta">{{ post.date | date: date_format }}</span></p>
						<p>{{post.excerpt}}</p>
						<ul class="actions">
							<li><a href="{{ post.url | relative_url }}" class="button">Read  more</a></li>
						</ul>
					</div>
				</div>
			</section>
		    {% endfor %}
	</section>
</div>
